.picture img {
    margin:1px auto;
    height: 40vh;
    width: 100%;
    padding: 0 15px;
}

  .login form{
    margin:2rem auto;
   padding: 2rem 2rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    box-shadow: 0 .2rem 1rem var(--secondary-color);
    width: 80%;
  }
  .login form h3{
    font-size: 1.5rem;
    color:white;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
  }
  .login form .box{
    width:100%;
    padding:1rem;
    font-size: 1.2rem;
    margin:.6rem 0;
    text-transform: none;
    border-radius: 4px;
  }
  .login form #remember label{
    margin:1rem 0;
  }
  .login form label{
    font-size: 1.5rem;
    color: white;
  } 
.login form p,a {
    color: var(--light-color);
}
  .login form p a:hover{
    color:var(--secondary-color);
    text-decoration: underline;
  }
 .login .error{
    background: #f2DEDE;
    color:var(--secondary-color);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}
.img_adm{
  width: 100%;
  height: 50vh;
}
