*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
   
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #272C3F;
}
section::before 
{
   content: ''; 
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   
   background: #272C3F; 
   
}
section .container
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;

    display: flex;
    z-index: 1000;
    
}
section .container .contactInfo
{
    position: absolute;
    top:40px;
    width: 350px;
    height: calc(100% - 80px);
    background: linear-gradient(-135deg,rgba(237,41,123,255),#05d3e2);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 50px 20px;
    

}
section .container .contactInfo h2
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    
}
section .container .contactInfo ul.info
{
    position: relative;
    margin:20px 0;
}
section .container .contactInfo ul.info li
{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .container .contactInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
section .container .contactInfo ul.info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert();
}
section .container .contactInfo ul.info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}
section .container .contactInfo ul.sci li a img
{
    max-width: 50%;
    filter: invert(1);
}
section .container .contactInfo ul.sci
{
    position: relative;
    display: flex;
}
section .container .contactInfo ul.sci li
{
    list-style: none;
    margin-right: 15px;

}

section .container .contactInfo ul.sci li
{
    text-decoration: none;
}
section .container .contactFrom
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    border-radius: 50px 20px;
}
section .container .contactFrom h2
{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactFrom .frombox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container .contactFrom .frombox .inputbox
{
    position: relative;
    margin-bottom: 35px;
}
section .container .contactFrom .frombox .inputbox.w50
{
    width: 47%;
}
section .container .contactFrom .frombox .inputbox.w100
{
    width: 100%;
}
section .container .contactFrom .frombox .inputbox input,
section .container .contactFrom .frombox .inputbox textarea
{
    width: 100%;
    resize: none;  
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none; 
    outline: none;
    border-bottom: 1px solid #777;
}
section .container .contactFrom .frombox .inputbox textarea
{
    height: 120px;
}
section .container .contactFrom .frombox .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;

}
section .container .contactFrom .frombox .inputbox input:focus ~ span,
section .container .contactFrom .frombox .inputbox textarea:valid ~ span,
section .container .contactFrom .frombox .inputbox input:focus ~ span,
section .container .contactFrom .frombox .inputbox textarea:valid ~ span
{
    transform: translateY(-24px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #272C3F;
    font-weight: 500;
}
section .container .contactFrom .frombox .inputbox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background:    linear-gradient(-135deg,rgba(237,41,123,255),#05d3e2);
    color: #fff;
    border: none;
    max-width: 150px;
    padding:12px;
    border-radius: 50px 20px;

}
section .container .contactFrom .frombox .inputbox input[type="submit"]:hover
{
    background:#ff303f ;
    transform: translateY(-3px);
}